* {
    box-sizing: border-box;
}
@import 'reset';
    body {
        font-family: 'Open Sans', sans-serif;
    }
    .row {
        display: grid;
    }

// Mobile
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.slide1 {
    background-image: url(image/Slide1-bg.png);
    background-repeat: no-repeat;
    background-size: auto 500px;
    min-height: 500px;
    color: white;
    font-size: 16px;
    font-weight: 300;
    .row {
        gap: 20px;
        min-height: 80px;
        align-items: center;
        >div:first-child {
            justify-self: center;
        }
        .header-content {
            display: grid;
            grid-template-columns: repeat(3, 170px);
            grid-template-rows: 100%;
            justify-items: center;
            overflow-x: scroll;
            >div{
                border: 1px solid transparent;
                border-radius: 5px;
                padding: 10px;
                transition: 0.5s;
                >a {
                    color: white;
                    text-decoration: none;
                }
                &:hover{
                    border: 1px solid white;
                    transition: 0.5s;
                }
            }
        }
    }
}
.content1 {
    display: grid;
    grid-template-columns: 310px;
    grid-template-rows: repeat(3, 50px); 
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 100px;
    >div:nth-child(1) {
        font-size: 40px;
    }
    >div:nth-child(2) {
        font-size: 16px; 
    }
    >button {
        width: 150px;
        height: 40px;
        border: 2px solid white;
        background-color: transparent;
        border-radius: 5px;
        color: white;
        font-size: 24px;
        transition: 0.5s;
        &:hover {
            background-color: white;
            color: #f74c55;
            transition: 0.5s;
        }
    }
}

@media (min-width:516px) {
    .header-content {
        justify-content: center;
    }
}

// Tablet
@media (min-width: 768px) {
    .container{
        width: 720px;
    }
    .slide1{
        .row{
            grid-template-columns: 35% 60%;
            gap: 0px;
            grid-template-rows: 100%;
            justify-content: space-between;
            >div:last-child {
                justify-self: end;
            }
            .header-content {
                overflow-x: hidden;
            }
        }
    }
    .content1 {
        justify-items: left;
        justify-content: right;
    }
    
}

// Laptop
@media (min-width: 992px) {
    .container{
        width: 960px;
    }
    .slide1 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }
}

// Laptop large
@media (min-width: 1200px) {
    .container {
        width: 1170px;
        .row {
            .header-content {
                font-size: 20px;
            }
        }
    }
    .slide1 {
        min-height: 700px;
    }
    .content1 {
        grid-template-columns: 400px;
        gap: 10px;
        margin-top: 200px;
        >div:nth-child(1) {
            font-size: 50px;
        }
        >div:nth-child(2) {
            font-size: 26px; 
        }
    }
}

//  Desktop
@media (min-width: 1440px) {
    .container {
        width: 1400px;
    }
    .slide1 {
        background-position: top;
        .row {
            grid-template-columns: 40% 50%;
            justify-content: space-around;
            gap: 30px;
            >div:first-child {
                justify-self: flex-start;
            }
            div{
                a{
                    img{
                        transform: scale(1.5);
                    }
                    
                }
            }
        }
    }
    .content1 {
        margin-right: 250px;
    }
}

// Desktop Large
@media (min-width: 2024px) {
    .container {
        width: 2000px;
        .row {
            grid-template-columns: 25% 50%;
        }
    }
    .content1 {
        margin-right: 400px;
    }
}